#court-container {
    background-color: #FD9B63;
    margin: 3%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid white;
}

#court-name {
    font-style: italic;
    font-weight: 550;
    align-self: center;
    margin: 15px 0;
}

#image-matches-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#scheduled-matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #81A263;
    width: 50%;
    height: 200px;
}

#court-info {
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    justify-content: space-between;
    align-items: stretch;
    height: 70px;
}


.info-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid white;
    box-sizing: border-box;
    height: 100%;
    width: 33%;
}

.info-item:last-child {
    border-right: none;
}

.info-label {
    font-weight: bold;
    margin-bottom: 5px;
}

#schedule-btn {
    width: 25%;
    align-self: center;
    margin: 10px 0;
    background-color: #2faeed;
    border: 1px solid white;
}

#match-header {
    font-weight: 550;
    /* border-bottom: 2px solid white; */
    text-decoration: underline white;
    width: 100%;
    text-align: center;
    margin: 3% 0;
}

.schedule-inputs {
    display: flex;
    justify-content: center;
}

#last-schedule-input {
    margin: 15px 0;
}

#schedule-container {
    background-color: #81A263;
    padding: 15px 0;
    width: 50%;
    align-self: center;
}

.info-label {
    margin-right: 15px;
}

#create-match-btn {
    align-self: center;
    margin: 15px 0;
    background-color: #2faeed;
    border: 1px solid white;
}

.input-black {
    background-color: black;
    color: white;
}

#court-detail-image {
    margin-top: 15px;
    margin-left: 15px;
    width: 40%;
    height: 40%;
}

.match-group-item {
    background-color: #FD9B63;
    border: 1px dashed white;
    display: flex;
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
}

#vs {
    margin: 0 10px;
}

#match-item-time {
    margin-left: 15px;
}