.navbar {
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.nav-item {
    justify-self: center;
    text-align: center;
    background-color: #FD9B63;
    border: 2px solid white;
    border-radius: 7%;
    padding: 5px;
    width: 100%;
    align-self: flex-start;
}

.smaller-btn {
    font-size: inherit;
    padding: 3px 7px;
    background-color: #FD9B63;
}